WCFConnect/WCFConnect/Service References/ServiceClient/ServiceMethods1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMethods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.31.29:8001/getSql?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.31.29:8001/getSql?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.31.29:8001/getSql?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SqlModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_GetDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDateTime" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetAllUserInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInfos" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetAllUserInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetAUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAUserInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetAUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ParallelTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ParallelTest" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ParallelTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParallelTestResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_DeleteUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_EditUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_EditUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContract">
    <wsdl:operation name="GetDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetDateTime" message="tns:IServiceContract_GetDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetDateTimeResponse" message="tns:IServiceContract_GetDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetAllUserInfos" message="tns:IServiceContract_GetAllUserInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetAllUserInfosResponse" message="tns:IServiceContract_GetAllUserInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetAUserInfo" message="tns:IServiceContract_GetAUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetAUserInfoResponse" message="tns:IServiceContract_GetAUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/Login" message="tns:IServiceContract_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/LoginResponse" message="tns:IServiceContract_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParallelTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ParallelTest" message="tns:IServiceContract_ParallelTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ParallelTestResponse" message="tns:IServiceContract_ParallelTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/DeleteUserInfo" message="tns:IServiceContract_DeleteUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/DeleteUserInfoResponse" message="tns:IServiceContract_DeleteUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/EditUserInfo" message="tns:IServiceContract_EditUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/EditUserInfoResponse" message="tns:IServiceContract_EditUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/AddUserInfo" message="tns:IServiceContract_AddUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/AddUserInfoResponse" message="tns:IServiceContract_AddUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetOrder" message="tns:IServiceContract_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetOrderResponse" message="tns:IServiceContract_GetOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IServiceContract" type="tns:IServiceContract">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IServiceContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateTime">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfos">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetAllUserInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetAUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParallelTest">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/ParallelTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/DeleteUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/EditUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/AddUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMethods">
    <wsdl:port name="WSDualHttpBinding_IServiceContract" binding="tns:WSDualHttpBinding_IServiceContract">
      <soap12:address location="http://192.168.31.29:8001/getSql" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.31.29:8001/getSql</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>